body {
    font-family: 'Segoe UI, Arial', sans-serif;
    font-size: 62.5%;
    /* =10px */
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

span {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: 'Aharoni Bold', 'Aharoni';
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}

h1 {
    font-size: 24px;
    /*IE8 and lower*/
    font-size: 2.4rem;
    /* =24px */
}

p {
    font-size: 14px;
    /*IE8 and lower*/
    font-size: 1.4rem;
    /* =14px */
}

li {
    font-size: 14px;
    /*IE8 and lower*/
    font-size: 1.4rem;
    /* =14px */
}

#header {
    background: #373942;
    color: #fff;
    height: 9rem;
}

#header .top-bar-left ul,
#header .top-bar-right ul,
#header .top-bar-right ul * {
    background: #373942;
    color: #fff;
}

.label--white {
    color: #fff;
}

.selected {
    /*background: #c8c8c8;*/
    background: lightslategrey !important
}

i .fa fa-plus-circle #add-step-button {
    font-size: 50px !important;
}

#lense {
    font-size: 1.3em !important;
}

.fa fa-bell-o {
    font-size: 1.3em !important;
}

#circle-profile {
    /*font-size: 5em !important;*/
    font-family: 'Aharoni Bold', 'Aharoni';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}

.nav-left {
    text-align: center
}

#nav-bell {
    font-size: 3em;
}

.nav-right {
    text-align: right;
}

#container {
    /*padding-top: 20px;
    padding-left: 15px;
    width: 700px;
    height: 300px;*/
    border: solid 0.2px lightgrey;
    padding: 0.8em 0 0 0;
    margin: 2em 0 2em 0;
}

.circle-container {
    width: 3em;
    height: 3em;
    position: relative;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: solid 0.2px grey;
    margin: 0 0 0 0.4em;
}

.circle-container p {
    line-height: 3em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

#close-button {
    border: width border-style color;
    font-size: 1.5em;
    color: black;
    float: right;
    margin: -0.6em 0.3em 0 0;
}

#add-button {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: thin 0.2px red;
    /*background: fuchsia;*/
}

.data-dropdown-content > li.active {
    font-weight: bold;
    background-color: #eee;
}