body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.selected {
    /*background: #c8c8c8;*/
    background: fuchsia !important
}

#container {
    /*padding-top: 20px;
    padding-left: 15px;
    width: 700px;
    height: 300px;*/
    border: solid 0.2px lightgrey;
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: fuchsia;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}

span {
    display: table-cell;
    vertical-align: middle;
}

#close-button {
    border: width border-style color;
    color: lawngreen;
    background-color: lightseagreen;
}


/*#element {
    width: 100px;
    height: 200px;
    border: solid grey;
}*/

#add-button {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: thin 0.2px red;
    /*background: fuchsia;*/
}