<!--prerequisites folder-->

<div class="row">
    <div class="small-2 medium-2 large-2 columns">
        <label for="right-label" class="text-right">Name of the process:</label>
    </div>
    <div class="small-5 medium-5 large-5 columns">
        <input type="text" ng-model="vm.name" placeholder="Type a name of the process">
    </div>
</div>

<div class="row">
    <div class="small-2 medium-2 large-2 columns">
        <label for="right-label" class="text-right">Prerequisites</label>
    </div>
    <div class="small-2 medium-2 large-2 columns">
        <select class="select" ng-options="document as document.name for document in vm.documents" ng-model="vm.selectedDocuments" size="5" multiple>
         </select>
    </div>
    <div class="small-1 columns">
        <span class="button-group stacked">

            <button class="button tiny" ng-click="vm.addSelected()">
                Select
            </button>
            <button class="button tiny" ng-click="vm.removeDocumentsFromAddedDocuments()">
                Remove
            </button>
        </span>
    </div>
    <!--The selected documents appear here-->
    <table class="small-7">



        <tr ng-repeat="doc in vm.addedDocuments" ng-class="{selected: doc.isSelectedForRemoval}">
            <td ng-click="vm.markToDelete(doc)">{{doc.name}}</td>
            <td>{{doc.isSelectedForRemoval}}</td>
            <td>
                <label>
                        <input type="checkbox" ng-model="doc.isOriginal">
                        <span class="custom checkbox">Original</span> 
                    </label>
            </td>
            <td><label>
                        <input type="checkbox" ng-model="doc.needCopy">
                        <span class="custom checkbox">Copy</span>
                    </label>
                <input class="columns" type="number" ng-model="doc.numberOfCopies" ng-show="doc.needCopy" min="1">
            </td>
            <td>
                <label>
                        <input type="checkbox" ng-model="doc.needLegalizedCopy">

                        <span class="custom checkbox ">Legalized Copy</span>
                    </label>
                <input class="columns" type="number" ng-model="doc.numberOfLegalizedCopies" ng-show="doc.needLegalizedCopy" min="1">
            </td>
        </tr>
    </table>
</div>

<br>
<br>
<br>
<br>

<!--Step-process box-->
<!--Step-process box-->
<!--Step-process box-->
<!--Step-process box-->
<!--Step-process box-->
<div ng-repeat="step in vm.steps">
    <!--Step-process box-->
    <div class="row">
        <div class="small-2 medium-2 large-2 columns">
        </div>
        <!--Container for the box of  the step-process-->
        <div class="small-10 columns">
            <div id="container">
                <div class="row small-12">
                    <div class="small-1 columns">
                        <div class="circle-container">
                            <p> {{$index + 1}} </p>
                        </div>
                    </div>
                    <div class="small-1 columns">
                        <!--circle element where the number of the step-process should appear-->
                    </div>
                    <!--First dropdown with a name of the action of the step process-->
                    <div class="small-2 columns">
                        <select class="select" ng-selected="step.action" ng-model="step.action" title="action">
                        <option value="" disabled selected>Action</option>
                        <option value="sign">Sign</option>
                        <option value="pay">Pay</option>
                        <option value="submit">Submit</option>
                        </select>
                    </div>
                    <!--Second dropdown with documents of the step-process-->
                    <div class="small-3 columns">
                        <select class="select" ng-selected="step.document" ng-model="step.document">
                        <option value="" disabled selected>Document</option>
                        <option value="passport">Passport</option>
                        <option value="drivingLicence">Driving licence</option>
                        <option value="id">ID</option>
                        <option value="birthCertificate">BirthCertificate</option>
                        </select>

                        <select class="select" ng-selected="step.document" ng-model="step.document">
                        <option value="" disabled selected>Document</option>
                        <option value="passport">Passport</option>
                        <option value="drivingLicence">Driving licence</option>
                        <option value="id">ID</option>
                        <option value="birthCertificate">BirthCertificate</option>
                        </select>

                        <button class="small-12 small-centered columns"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>

                    <!--Location of the step-process-->
                    <div class="small-4 columns">
                        <select class="select" ng-selected="step.location" ng-model="step.location">
                        <option value="" disabled selected>Location</option>
                        <option value="cityHall">CityHall</option>
                        <option value="cic">CIC</option>
                        <option value="policeStation">PoliceStation</option>
                        <option value="cityHall">CityHall</option>
                        <option value="cic">CIC</option>
                        <option value="policeStation">PoliceStation</option>
                        <option value="cic">CIC</option>
                        <option value="policeStation">PoliceStation</option>
                    </select>
                    </div>
                    <div class="small-1 columns">

                        <button ng-click="vm.removeStep($index)" class="float-right"> <i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
                <br>
                <!--Notes for the step-process-->
                <div class="row">
                    <div class="small-1 columns">
                    </div>
                    <div class="small-7 columns">
                        <input type="text" placeholder="Type the steps of the process" ng-model="step.note">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-2 columns">
        </div>
        <div class="small-1 columns">
            <div class="circle-container">
                <button ng-click="vm.addStep($index + 1)"> <p class="plus-button"><i class="fa fa-plus circle" aria-hidden="true"></i></p></button>
                <!--<i class="fa fa-minus-circle" aria-hidden="true"></i>-->
            </div>
        </div>
    </div>
</div>


<!--<button class="button" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
    Example form in a dropdown.
    <form>
        <div class="row">
            <div class="medium-6 columns">
                <label>Name
          <input type="text" placeholder="Kirk, James T.">
        </label>
            </div>
            <div class="medium-6 columns">
                <label>Rank
          <input type="text" placeholder="Captain">
        </label>
            </div>
        </div>
    </form>
</div>

<button class="button" type="button" data-toggle="example-dropdown-1">Hoverable Dropdown</button>
<div class="dropdown-pane" id="example-dropdown-1" data-dropdown data-hover="true" data-hover-pane="true">
    Just some junk that needs to be said. Or not. Your choice.
</div>-->