<section class="process-name">
    <div class="row">
        <div class="small-3 large-3 columns">
            <label for="right-label" class="text-right">Name of the process:</label>
        </div>
        <div class="small-9 columns">
            <input type="text" ng-model="vm.name" placeholder="Type a name of the process">
        </div>
    </div>
</section>
<br />
<br />
<section class="prerequisites">
    <div class="row">
        <div class="small-3 large-3 columns">
            <label for="right-label" class="text-right">Prerequisites</label>
        </div>

        <select class="select small-3 columns" ng-options="document as document.name for document in vm.documents" ng-model="vm.selectedDocuments" size="5" multiple style="width: 100%; height: 100px">
         </select>

        <div class="buttons small-2 columns">
            <button class="button tiny" type="button" ng-click="vm.addSelected()">
                Select
            </button>
        </div>

        <div style="max-height: 572px; overflow-y: scroll;">
            <div style="border: 1px solid;" ng-repeat="doc in vm.addedDocuments">
                <!-- <div>Type: {{doc.documentType}}</div> -->
                <h3>{{doc.name}}</h3>
                <div>numberOfCopies:
                    <label>
                        <input type="checkbox"
                               ng-model="doc.isOriginal">
                        <span class="custom checkbox"></span>Original
                    </label>
                    <label>
                        <input type="checkbox"
                               ng-model="doc.isCopy">
                        <span class="custom checkbox"></span>Copy
                    </label>
                    <label>
                        <input type="checkbox"
                               ng-model="doc.isLegalizedCopy">
                        <span class="custom checkbox"></span>Legalized Copy
                    </label>
                </div>
                <label>Number Of Copies: </label>
                <input type="number" ng-model="doc.numberOfCopies">
                <div>
                    <a href="javascript:" ng-click="vm.removeDocument(doc)">
                        Remove
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>