<!--prerequisites folder-->
<div class="callout">
    <div class="top-bar" id="second-header">
        <div class="top-bar-left">
            <ul class="menu" id="second-header-inner">
                <li> <i class="fa fa-pencil-square-o" id="pencil" aria-hidden="true"></i></li>
                <li>
                    <span id="create-process-title">Creeaza proces</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <label for="right-label" class="small-2 medium-2 large-2 columns text-right">Nume proces:</label>
        <input type="text" ng-model="vm.name" placeholder="Scrie aici numele procesului" class="small-5 medium-5 large-5 columns">
    </div>

    <div class="row">
        <label for="right-label" class="small-2 medium-2 large-2 columns text-right">Documente necesare</label>
        <select class="overflow small-2 medium-2 large-2 columns select" ng-options="document as document.name for document in vm.documents" ng-model="vm.selectedDocuments" size="5" multiple>
         </select>
        <div class="small-1 columns">

            <div class="button-group stacked">
                <button class="button button--border" ng-click="vm.addSelected()">
                        <span>&raquo;</span>
                        <!--<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>-->
                    </button>

                <button class="button button--border" ng-click="vm.removeDocumentsFromAddedDocuments()">
                        <span>&laquo;</span>
                        <!--<i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>-->
                    </button>
            </div>
        </div>
        <!--The selected documents appear here-->
        <table class="small-7">

            <tr ng-repeat="doc in vm.addedDocuments" ng-class="{selected: doc.isSelectedForRemoval}">
                <td ng-click="vm.markToDelete(doc)">{{doc.name}}</td>
                <!--<td>{{doc.isSelectedForRemoval}}</td>-->
                <td>
                    <label>
                        <input type="checkbox" ng-model="doc.isOriginal">
                        <span class="custom checkbox">Original</span> 
                    </label>
                </td>
                <td><label>
                        <input type="checkbox" ng-model="doc.needCopy">
                        <span class="custom checkbox">Copy</span>
                    </label>
                    <input class="small-3 columns" type="number" ng-model="doc.numberOfCopies" ng-show="doc.needCopy" min="1">
                </td>
                <td>
                    <label>
                        <input type="checkbox" ng-model="doc.needLegalizedCopy">

                        <span class="custom checkbox ">Legalized Copy</span>
                    </label>
                    <input class="small-3 columns" type="number" ng-model="doc.numberOfLegalizedCopies" ng-show="doc.needLegalizedCopy" min="1">
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!--Step-process box-->
    <div ng-repeat="step in vm.steps">
        <!--Step-process box-->
        <div class="row">
            <div class="small-2 medium-2 large-2 columns">
            </div>
            <!--Container for the box of  the step-process-->
            <div class="small-10 columns">
                <div id="container">
                    <div class="row">
                        <div class="small-1 columns">
                            <div class="circle-container">
                                <p> {{$index + 1}} </p>
                            </div>
                        </div>
                        <!--First dropdown with a name of the action of the step process-->
                        <div class="small-3 columns">

                            <select class="select" ng-selected="step.action" ng-model="step.action" title="action">
                            <option value="" disabled selected>Actiune</option>
                            <option ng-repeat="action in vm.actions" value="{{action.id}}" ng-selected="step.action" ng-model="step.action">{{action.name}}</option>
                        </select>
                        </div>
                        <!--Second dropdown with documents of the step-process-->
                        <div class="small-3 columns">
                            <select ng-repeat="document in step.documents">
                            <option value="" disabled selected>Document</option>
                            <option ng-repeat="doc in vm.documents">{{doc.name}}</option>
                        </select>
                            <button ng-click="vm.addDocumentToStep($index)" class="small-12 small-centered columns"><i id="add-document" class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        </div>
                        <div class="small-1 columns">
                            <button ng-show="step.documents.length > 1"><i class="fa fa-times" aria-hidden="true" ></i></button>
                        </div>
                        <!--Location of the step-process-->
                        <div class="small-3 right columns">
                            <select class="select" ng-selected="step.location" ng-model="step.location">
                        <option value="" disabled selected>Locatie</option>
                        <option value="cityHall">Casa Judeteana de Asigurari de Sanatate Cluj</option>
                        <option value="cic">Primaria Cluj Napoca</option>
                        <option value="policeStation">Directia de Evidenta a Populatiei</option>
                        <option value="cityHall">Inspectoratul de Politie Judetean Cluj</option>
                         <option value="cityHall">Biblioteca Centrala Universitara "Lucian Blaga" Cluj-Napoca</option>
                    </select>
                        </div>
                        <div class="small-1 columns">

                            <button ng-click="vm.removeStep($index)" class="float-right"> <i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <br>
                    <!--Notes for the step-process-->
                    <div class="row">
                        <div class="small-1 columns">
                        </div>
                        <div class="small-7 columns">
                            <input type="text" placeholder="Scrie informatii aditionale aici" ng-model="step.note">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-2 columns">
            </div>
            <div class="small-1 columns">
                <button ng-click="vm.addStep($index + 1)"> <i class="fa fa-plus-circle remove-step" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

    <div class="small-offset-10">
        <button class="button submit-button" ng-click="vm.submitProcess()">Trimite</button>
    </div>
</div>

<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>

<script>
    setTimeout(() => {
        new Foundation.DropdownMenu($(".dropdown.menu"));
    }, 5);
</script>